body{
    height: 5500px;
}
*{
    font-weight: 600;
    font-family: 'Roboto Condensed', sans-serif;

}
.logo{
    position: absolute;
    color: white;
    font-size: 40px;
    font-weight: 600;
    margin-top: 30px;
    margin-left: 30px;
    letter-spacing: 2px;
}
.navbar{
    position: absolute;
    font-size: 22px;
    margin-left: 710px;
    margin-top: -80px;
}
.navbar a{
    text-decoration: none;
    color: white;
    font-weight: 600;
}
.navbar li{
    list-style: none;
    float: left;
    margin-left: 50px;
}
.navbar li:hover{
    
   color: rgb(203,203,203);
}

.abcdef{

    padding-bottom: 30px;
    background-color: rgb(144, 13, 237);
    color: rgb(144, 13, 237);
    padding-top: 50px;
    padding-right: 100px;
    padding-left: 100px;
    margin-left: -13px;
    margin-right: -10px;
    margin-top: -16px;
    margin-bottom: 2px;
}
body{
    
    height: 1100px;
}
.head{
    position: absolute;
    color:rgb(144, 13, 237);
    margin-top: 340px;
    text-align: center;
    margin-left: 25px;
    font-size: 22px;
}
.head-img{
    position: absolute;
    margin-top: 150px;
    margin-left: 830px;
}
.head-img img{
    width: 500px;
    height: 500px;
}
.projects{
    position: absolute;
    font-size: 35px;
    color: rgb(124, 13, 203);
    margin-top: 750px;
    margin-left: 20px;
}
.line{
    color: transparent;
    background-color: rgb(124, 13, 203);
    border: 0px solid black;
    border-radius: 15000px;
    font-size: 3px;
    margin-right: 692px;
    margin-left: 19px;
    margin-top: 800px;
}
.menus li{
    list-style: none;
    color: rgb(33, 132, 252);
    font-size: 35px;
    font-weight: 0;
}
.menus{
     margin-left: 20px;
    margin-top: 20px;
    color: rgb(144, 13, 237);
}
.menus1 li{
    list-style: none;
    
    color: rgb(33, 132, 252);
    font-size: 35px;
   
}
.menus1{
     margin-left: 20px;
    margin-top: 80px;
    color: rgb(144, 13, 237);
}
.menus2 li{
    list-style: none;
    
    color: rgb(33, 132, 252);
    font-size: 35px;
   
}
.menus2{
     margin-left: 20px;
    margin-top: 80px;
    color: rgb(144, 13, 237);
}
.menus3 li{
    list-style: none;
    
    color: rgb(33, 132, 252);
    font-size: 35px;
   
}
.menus3{
     margin-left: 20px;
    margin-top: 80px;
    color: rgb(144, 13, 237);
}
.bahubali{
    color: transparent;
    background-color: rgb(144, 13, 237);
    padding-top: 50px;
    margin-left: -13px;
    margin-right: -10px;
    margin-top: -16px;
    margin-bottom: 2px;
}
.menus-img{
    position: absolute;
    margin-left: 950px;
    margin-top: 20px;
}
.menus1-img{
    position: absolute;
    margin-left: 950px;
    margin-top: 127px;
}
.menus2-img{
    position: absolute;
    margin-left: 950px;
    margin-top: 111px;
}
.menus3-img{
    position: absolute;
    margin-left: 950px;
    margin-top: 100px;
}
.menus-img img{
    width: 240px;
    height: 220px;
}
.menus1-img img{
    width: 240px;
    height: 220px;
}
.menus2-img img{
    width: 240px;
    height: 220px;
}
.menus3-img img{
    width: 240px;
    height: 220px;
}
